<p id="notice"><%= notice %></p>

<h1>Bugs</h1>
<div class="table-responsive">
  <table class="table-striped w-100">
    <thead>
      <tr>
        <th >User</th>
        <th >Title</th>
        <th >Description</th>
        <th >Issue type</th>
        <th >Priority</th>
        <th >Status</th>
        <th ></th>
      </tr>
    </thead>

    <tbody>
      <% @bugs.each do |bug| %>
        <tr>
          <td style="width: 10.0%"><%= bug.user.first_last %></td>
          <td ><%= bug.title %></td>
          <td ><%= bug.description %></td>
          <td ><%= bug.issue_type %></td>
          <td ><%= bug.priority %></td>
          <td ><%= bug.status %></td>
          <td  class="btn btn-default btn-sm"><%= link_to 'Show', bug %></td>
          <td  class="btn btn-default btn-sm"><%= link_to 'Edit', edit_bug_path(bug) %></td>
          <td  class="btn btn-default btn-sm"><%= link_to 'Destroy', bug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Bug', new_bug_path %>
